<h1 class="mt-3"> Factura </h1>
<hr>

<div class="row">
    <div class="col">
        <h2 class="mt-3"> Datos facturacion </h2>
        <table class="table border-primary">
            <thead class="table-dark ">
                <tr>
                    <th> ID </th>
                    <th> NOMBRE </th>
                    <th> APELLIDOS </th>
                    <th> DIRECCION </th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let persona of personas">
                    <th> {{persona.id}}</th>
                    <th> {{persona.nombre}}</th>
                    <th> {{persona.apellido}}</th>
                    <th> {{persona.direccion}}</th>
                </tr>

            </tbody>
        </table>
        <a (click)="salir()" class="btn btn-primary"> Salir </a>
    </div>
</div>