<h1 class="mt-3"> Factura </h1>
<hr>

<div class="row">
    <div class="col">
        <h2 class="mt-3"> Datos Personales </h2>
        <table class="table border-primary">
            <thead class="table-dark ">
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>CEDUA CIUDADANIA</th>
                    <th>DIRECCIÓN</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <th> Santiago </th>
                    <th> Niño Medina </th>
                    <th> 12345 </th>
                    <th> Carrera 11 # 14-08 </th>

                </tr>

            </tbody>
            <p class="mt-3"> Revise sus datos Personales y confirme crear su factura. </p>
        </table>
        <a (click)="regresar()" class="btn btn-primary"> Regresar </a>
        <button (click)="Listar()" class="btn btn-info" style="margin-left: 10px;"> Crear Factura </button>
    </div>
</div>