.column {
    max-height: 700px;
    border: .5px solid #000;
    padding-bottom: 5px;
    margin-left: 50px;
}

.column:hover {
    margin-top: 10px;
}

.card-body {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    border: .5px solid #000;
}

.p.nombre_cliente {
    text-align: end;
}